.form {
  display: flex;
  flex-direction: column;
  width: 350px;
  padding: 15px;
  justify-content: center;
  box-shadow: 0 1px 3px 0 rgb(192 205 222 / 75%);
}

.label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 16px;
}
.input {
  width: 200px;
  margin-left: 15px;
  border-radius: 3px;
  border: 1px solid rgb(192, 190, 190);
  outline: none;
}
.btn {
  width: max-content;
  margin-top: 15px;
  padding: 5px 10px;
  border-radius: 3px;
  border: none;
  outline: none;
  box-shadow: 2px 2px 2px rgb(0 0 0 / 30%);
}
.btn:hover {
  transform: scale(1.05);
  background-color: rgb(243, 207, 115);
  border: none;
  outline: none;
}
